body {
	background-color: #FFFFFF;
	font-family: 'HelveticaNeueLTStd-Roman';
}

.contactuspage {
	position: fixed;
	right: 0;
	text-align: auto;
	width: 39%;
	height: 50%;

}

.contactuspage h1 {
	font-size: 50px;
	color:  #197b3e;
	font-family: 'TABU' ;
	
	padding-bottom: 30px;
	padding-top: 10px;


}
.form-group input, textarea{
	 width: 100%;
    padding: 12px;  
   
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical ;
    background-color: 	#d2e9d1;
    margin-right: 200px;
    border: transparent;
    
}

.form-group{
	color:  #197b3e;
	
	
	
}

.text-danger {
	color:  #197b3e;
}

.form-group button {
   
    font-family: 'TABU' ;
    padding: 12px 20px;
    font-size: 15px;
    cursor: pointer;
    background-color: #00b300;
}





.googlemap {
	width: 60%;
	height: 50%;
	position: fixed;

}

.logo { 
position: absolute;
z-index:1;
left: 20px;
top: 40px;
  }


  .contactform {
  	position: fixed;
  	 
 
  }
